#############################################################################################################################################################
#	Prusa Universal connfig made by Jerome Grimminck and based on my own parts but also include various additions from others.
#	Goal of this config is to have 1 config that can be used for various Prusa MK3(S) printers in different setups and would be easier to maintain.
#	Also Prusa's with Bear frame are compatible to these setups.
#	Currently supported are:
#	- Prusa / Bear with Einsy board
#	- Prusa / Bear with Duet 3 Mini 5+ board 
#	- MMU with SKR Mini 3 V2 board
#	- Prusa / Bear with MMU on BTT Octopus board (Printer + MMU on single board)
#############################################################################################################################################################
#	How to select the options you require.
#
#	There are 2 places to enable the settings & options you need or require.
#	To disable something you must just remove the corrosponding cfg.
#	The basis stock setup of this configuration is for a Stock Prusa with a Stock Extruder with no ADXL and should be instant up and running.
#
#	In some cases you might need to change the serial port so check if the serial port is right or find yours with the ls -l /dev/serial/by-id/ command.
#
#	Remove the # that is in front of the board(s) that you use. In the directory Boards you will find the corrosponding CFG to adjust your serial port.
#	Due the use of various stepper drivers the Extruder selection is within the board configuration und must be selected there.
#
#	Try to prevent editing in the config files as when updates will be brought out you might need to do alot of rework
#	instead add your additions below in USER OVERRIDES as they will override anything in the config.

#####################################################################
# 	General Klipper Stuff
#####################################################################

[mcu CB1]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

[save_variables]
filename: /home/biqu/printer_data/config/3ddruckerplausch.cfg

[exclude_object]

[gcode_arcs]
resolution: 1.0

#[display_status]

[pause_resume]

[gcode_macro _stepper_type]
variable_tmc2209: 1
gcode:

[gcode_macro _ztilt]
variable_ztilting: 0
gcode:

[gcode_macro _always_mesh]          #If you prefer to have a mesh before every print set the variable alwaysmesh to 1
variable_alwaysmesh: 0
gcode:

#[gcode_macro _StartUp]
#initial_duration: 0.5
#gcode:
#  SET_LED LED="hotend_rgb" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1

[exclude_object]

#####################################################################
# 	Variables for Printer
#####################################################################
[output_pin BEEPER_pin]
pin: PB5
pwm: True
value: 0
shutdown_value:0
cycle_time: 0.001
scale: 1000

[gcode_macro _VARS_PRINTER]
variable_beeper_tone: 100
variable_beeper_short: 100
variable_beeper_long: 500
gcode:
    M118 Loaded Additional Printer Variables  

#####################################################################
# 	BTT-CB Temp Sensor
#####################################################################
[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_fan Case_fans]
pin: CB1:gpio211
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.9
target_temp: 55

#####################################################################
#   For Mooncord (Discord Bot)
#####################################################################
[respond]
default_type: command

#####################################################################
#   Sensors attached to board
#####################################################################
[include Sensors/z_probe.cfg]							#Zprobe
#[include Sensors/z_probe_inversed.cfg]				#Z_Probe inversed
#[include Sensors/filament_stock.cfg]					#Filament sensor for printers without MMU
[include Sensors/filament_mmu.cfg]						#Filament sensor for printers with MMU

#####################################################################
# 	Boards / Printer Selection
#####################################################################
#
###################
#  EBB CAN Kopfboard
###################
[include EBB CAN/bigtreetech-ebb-canbus-v1.2.cfg]
#
###################
# BTT Mini E3 V3
###################
[include BTT_Mini_E3_V3/SKR-mini-E3-V3.0-klipper.cfg]
#
###################
# MMU on SKR Pico
###################
[include MMU/mmu2s.cfg]
[include MMU/Boards/SKR_Pico/mmu2s_board.cfg]
#
#####################################################################
# 	Macro's Selection
#####################################################################
[include Macros/idle_timeout.cfg]				# Handling idle timout after 1800 seconds
[include Macros/macros.cfg]						# General Macros
[include Macros/emergency_lift.cfg] 			# Overide movement without homing (Caution!)
[include Macros/start_print.cfg]				# Start Print Macro please read withing this macro carefully how to setup Slicer
[include Macros/end_print.cfg]					# End Print Macro
[include Macros/purge_line.cfg]					# Purge line that is called within the Start Print
[include Macros/disable_xy.cfg]					# Disable only XY steppers at end print to ensure Z will not Sag
[include Macros/filament_load.cfg]				# Filament load & Unload
[include Macros/cancel_print.cfg]				# Cancel Print
[include Macros/pause_resume.cfg]				# Pause & Resume
[include Macros/tram_z.cfg]						# Tramming of the Z axis to the top
#[include Macros/tasmotaswitch.cfg]				# Tasmota Power switch control with Idle timeout
#[include Macros/mesh.cfg]						# Mesh config including ignoring faulty regions due magnets
[include Macros/mesh_adaptive.cfg]             # Mesh adaptive
#[include Macros/mesh_fade.cfg]				    # Mesh config as above, but with fade enabled - fading mesh results over height of the print
#[include Macros/mesh_magnets.cfg]			    # Mesh config as above, but with additional magnet coordinates added, e.g. for 7x7 mesh
#[include Macros/mesh_old.cfg]					# Mesh config classic way as i am not convinced of the new method
[include Macros/homing.cfg]						# Homing routine
[include Macros/print_time.cfg]                 # Statistics about total print time and save the to file
#[include Macros/pa_test.cfg]                    # Automated PA test procedure make sure you upload pa_test.gcode or create your own. Function can be called from the menu# After the test give the command PA_NORMAL to have the accelerations back to normal
[include Macros/M900_PressureAdvance.cfg]
[include Macros/resonance_test_display_menu.cfg]             # Automated Resonance testing with ADXL345 Custom Shell command patch required
[include shell_command.cfg]
[include Macros/klipper_backup.cfg]                    #Backup auf Github erstellen  
[include Macros/ADXL345_Config.cfg]


#####################################################################
# 	Helper Scripts Selection
#####################################################################
#[include Helpers/flexplate.cfg] 				# A Flexplate manager
#[include Helpers/myplates.cfg]					# Here you store the Platenames for the buttons in Fluidd
[include Helpers/printing_feature.cfg] 			# Show printing feature on display and reduce acceleration based on feature
#[include Helpers/screw_adjust.cfg] 				# A Helper for adjusting the bed screws
#[include Helpers/fast_infill.cfg]               # Fast infill - requires PostProcessing in Slicer!
#[include Helpers/logo.cfg]               # Fast infill - requires PostProcessing in Slicer!
# See https://github.com/RomRider/klipper-FastGyroidInfill for manual
#####################################################################
# 	ADXL Selection
#####################################################################
#[include Sensors/pi_adxl_mcu.cfg]				# ADXL Sensor connected to Pi

#####################################################################
#   X/Y Resonance Settings.
#####################################################################
[input_shaper]
shaper_freq_x: 30.0
shaper_type_x: ei
shaper_freq_y: 21.0
shaper_type_y: zv

#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*#
#*# [bltouch]
#*# z_offset = 2.635
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.097500, -0.106250, 0.035000, 0.005000, 0.145000
#*# 	0.123750, 0.002500, 0.005000, 0.026250, 0.101250
#*# 	-0.072500, -0.031250, 0.016250, 0.032500, 0.196250
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 1.0
#*# max_x = 210.0
#*# min_y = 5.0
#*# max_y = 198.0
